body{
    background-color: palevioletred;
    justify-content: center;
    
    
}
#clock{
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background-color: aquamarine;
    border: 5px solid grey;
    position: relative;
    z-index: 5;
    margin-left: 700px;
    margin-top: 200px;
    box-shadow: 1px 1px 4px rgba(0,0,0,0.7);
    margin-top: 30px;
}
#smcircle{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: green;
    position: absolute;
    z-index: 7;
    margin-left: 884px;
    margin-top: -222px;
}
.twelve{
    color: black;
    font-size: 40px;
    position: absolute;
    margin-left: 174px;
    box-shadow: 1px 1px 4px rgba(0,0,0,0.7);
}
.nine{
    color: black;
    font-size: 40px;
    position: absolute;
    margin-left: 10px;
    margin-top: 170px;
    box-shadow: 1px 1px 4px rgba(0,0,0,0.7);
}
.six{
    color: black;
    font-size: 40px;
    position: absolute;
    margin-left: 188px;
    margin-top: 350px;
    box-shadow: 1px 1px 4px rgba(0,0,0,0.7);
}
.three{
    color: black;
    font-size: 40px;
    position: absolute;
    margin-left: 368px;
    margin-top: 175px;
    box-shadow: 1px 1px 4px rgba(0,0,0,0.7);
}
img{
    width: 80px;
    position: absolute;
    top: 60px;
    margin-left: 157px;
    margin-top: 20px;
    
}
.hands{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hands div{
    background-color: white;
    height: 120px;
    width: 7px;
    position: absolute;
    z-index:6;
    bottom: 50%;
    border-radius: 50% 50% 0 0;
    transform-origin: bottom center;
}

.hands .hour{
  height: 80px;
  transform: rotate(30deg);
}
.hands .minute{
    background-color: gold;
    transform: rotate(250deg);
}
#heading{
      text-align: center;
      font-size: 80px;
      font-family:'Times New Roman', Times, serif;
      color:rgb(2, 68, 24)
}


    
    
    
